USE [master]
GO
/****** Object:  Database [QLVT_DATHANG]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE DATABASE [QLVT_DATHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVT_DATHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER1\MSSQL\DATA\QLVT_DATHANG.mdf' , SIZE = 21504KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLVT_DATHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER1\MSSQL\DATA\QLVT_DATHANG_log.ldf' , SIZE = 5696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVT_DATHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVT_DATHANG]
GO
/****** Object:  User [HTKN]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [8]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE USER [8] FOR LOGIN [NH] WITH DEFAULT_SCHEMA=[8]
GO
/****** Object:  User [6]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE USER [6] FOR LOGIN [HA] WITH DEFAULT_SCHEMA=[6]
GO
/****** Object:  User [3]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE USER [3] FOR LOGIN [TT] WITH DEFAULT_SCHEMA=[3]
GO
/****** Object:  User [1]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE USER [1] FOR LOGIN [LT] WITH DEFAULT_SCHEMA=[1]
GO
/****** Object:  DatabaseRole [USSER]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE ROLE [USSER]
GO
/****** Object:  DatabaseRole [CONGTY]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE ROLE [CONGTY]
GO
/****** Object:  DatabaseRole [CHINHANH]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE ROLE [CHINHANH]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [USSER] ADD MEMBER [8]
GO
ALTER ROLE [db_owner] ADD MEMBER [8]
GO
ALTER ROLE [USSER] ADD MEMBER [6]
GO
ALTER ROLE [db_owner] ADD MEMBER [6]
GO
ALTER ROLE [CHINHANH] ADD MEMBER [3]
GO
ALTER ROLE [db_owner] ADD MEMBER [3]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [3]
GO
ALTER ROLE [CONGTY] ADD MEMBER [1]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [1]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [1]
GO
ALTER ROLE [db_owner] ADD MEMBER [USSER]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [CONGTY]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [CONGTY]
GO
ALTER ROLE [db_datareader] ADD MEMBER [CONGTY]
GO
ALTER ROLE [db_owner] ADD MEMBER [CHINHANH]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [CHINHANH]
GO
/****** Object:  Schema [1]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE SCHEMA [1]
GO
/****** Object:  Schema [3]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE SCHEMA [3]
GO
/****** Object:  Schema [6]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE SCHEMA [6]
GO
/****** Object:  Schema [8]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE SCHEMA [8]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[ChiNhanh] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_A2764362A06744E29C830C67712974DC]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MasoDDH] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_715F2C67640644C389C16A50305698D2]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_16FB5C3B42B44AFABF75B5141C6FF3AD]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_4AB3CD34B49A464BA1A22A204B7F3911]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DatHang]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang](
	[MasoDDH] [nchar](8) NOT NULL CONSTRAINT [DF_DatHang_MasoDDH]  DEFAULT (getdate()),
	[NGAY] [date] NOT NULL CONSTRAINT [DF_DatHang_NGAY]  DEFAULT (getdate()),
	[NhaCC] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_BF954F01838D4363865785A54A973597]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DatHang] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kho]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MAKHO] [nchar](4) NOT NULL,
	[TENKHO] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_56C5D0BE3E544C2CB18331016F906490]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[LUONG] [float] NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [int] NULL CONSTRAINT [DF_NhanVien_TrangThaiXoa]  DEFAULT ((0)),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_6AC5D6B73ECC402BAD2B5B4DEE2F4B35]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MAPN] [nchar](8) NOT NULL CONSTRAINT [DF_PhieuNhap_MAPN]  DEFAULT (getdate()),
	[NGAY] [date] NOT NULL CONSTRAINT [DF_PhieuNhap_NGAY]  DEFAULT (getdate()),
	[MasoDDH] [nchar](8) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_26DA9A52985B4D17A7A574C976C8140E]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MAPX] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL CONSTRAINT [DF_PX_NGAY]  DEFAULT (getdate()),
	[HOTENKH] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_6C198B41EA354768BC9F3E1E12740C07]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vattu]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vattu](
	[MAVT] [nchar](4) NOT NULL,
	[TENVT] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_FA6B5FB094054A43BFC981ED4BF81996]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChiNhanh] ([MACN], [ChiNhanh], [DIACHI], [SoDT], [rowguid]) VALUES (N'CN1       ', N'Chi nhánh 1 TP HCM', N'35 Trần Hưng Đạo P1 Q1', N'999111888', N'51dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[CTDDH] ([MasoDDH], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'MDDH01  ', N'M02 ', 50, 5000, N'bcfd4ddf-3024-eb11-b995-54e1ad7deed1')
INSERT [dbo].[CTDDH] ([MasoDDH], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'MDDH02  ', N'MU01', 6, 5000, N'70dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[CTDDH] ([MasoDDH], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'MDDH04  ', N'M01 ', 10, 4000, N'6fdd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PN01    ', N'M01 ', 10, 500, N'74dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PN04    ', N'M02 ', 2, 2, N'61bb4bc0-462a-eb11-b996-865584f597a0')
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PN05    ', N'TV02', 20, 500, N'9161e9ff-9c29-eb11-b996-54e1ad7deed1')
INSERT [dbo].[CTPX] ([MAPX], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PX01    ', N'MX02', 4, 5600, N'72dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[CTPX] ([MAPX], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PX02    ', N'MU01', 50, 1000, N'004f4b26-a629-eb11-b996-54e1ad7deed1')
INSERT [dbo].[DatHang] ([MasoDDH], [NGAY], [NhaCC], [MANV], [MAKHO], [rowguid]) VALUES (N'MDDH01  ', CAST(N'2017-09-15' AS Date), N'CTY Điện máy xanh', 1, N'K2N1', N'67dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[DatHang] ([MasoDDH], [NGAY], [NhaCC], [MANV], [MAKHO], [rowguid]) VALUES (N'MDDH02  ', CAST(N'2017-09-15' AS Date), N'CTY Panasonic', 1, N'K2N1', N'68dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[DatHang] ([MasoDDH], [NGAY], [NhaCC], [MANV], [MAKHO], [rowguid]) VALUES (N'MDDH03  ', CAST(N'2017-09-15' AS Date), N'CTY Samsung', 9, N'K2N1', N'69dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[Kho] ([MAKHO], [TENKHO], [DIACHI], [MACN], [rowguid]) VALUES (N'K1N1', N'KHO A', N'28-30 Ngô Quyền P1 Q5', N'CN1       ', N'59dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[Kho] ([MAKHO], [TENKHO], [DIACHI], [MACN], [rowguid]) VALUES (N'K2N1', N'KHO B', N'78 Nguyen Trai, TPHCM', N'CN1       ', N'5add0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[Kho] ([MAKHO], [TENKHO], [DIACHI], [MACN], [rowguid]) VALUES (N'K3N1', N'CONG NGHIEP', N'555 Trần Hưng đạo', N'CN1       ', N'58dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MACN], [TrangThaiXoa], [rowguid]) VALUES (1, N'Lương', N'Trang', N'Thủ Đức', CAST(N'1900-01-01 00:00:00.000' AS DateTime), 7000000, N'CN1       ', 0, N'5fdd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MACN], [TrangThaiXoa], [rowguid]) VALUES (3, N'Trần', N'Thanh', N'Quận 10', CAST(N'1994-07-04 00:00:00.000' AS DateTime), 5000000, N'CN1       ', 0, N'61dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MACN], [TrangThaiXoa], [rowguid]) VALUES (4, N'Thái', N'Hà', N'Quận 6', CAST(N'2001-07-06 00:00:00.000' AS DateTime), 7000000, N'CN1       ', 1, N'62dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[PhieuNhap] ([MAPN], [NGAY], [MasoDDH], [MANV], [MAKHO], [rowguid]) VALUES (N'PN01    ', CAST(N'2017-09-15' AS Date), N'MDDH01  ', 1, N'K1N1', N'6ddd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[PhieuNhap] ([MAPN], [NGAY], [MasoDDH], [MANV], [MAKHO], [rowguid]) VALUES (N'PN02    ', CAST(N'2020-11-16' AS Date), N'MDDH02  ', 1, N'K2N1', N'c3ec6364-eb28-eb11-b995-54e1ad7deed1')
INSERT [dbo].[PhieuNhap] ([MAPN], [NGAY], [MasoDDH], [MANV], [MAKHO], [rowguid]) VALUES (N'PN03    ', CAST(N'2017-09-15' AS Date), N'MDDH03  ', 9, N'K1N1', N'6edd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[PhieuXuat] ([MAPX], [NGAY], [HOTENKH], [MANV], [MAKHO], [rowguid]) VALUES (N'PX01    ', CAST(N'2017-09-15' AS Date), N'Nguyễn Thị Ánh Hồng', 1, N'K1N1', N'6add0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[PhieuXuat] ([MAPX], [NGAY], [HOTENKH], [MANV], [MAKHO], [rowguid]) VALUES (N'PX02    ', CAST(N'2017-09-15' AS Date), N'Trần Thị Mỹ Hà', 3, N'K2N1', N'6bdd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[PhieuXuat] ([MAPX], [NGAY], [HOTENKH], [MANV], [MAKHO], [rowguid]) VALUES (N'PX04    ', CAST(N'2017-09-16' AS Date), N'Nguyễn Hoàng Nam', 3, N'K1N1', N'd805baee-0d33-eb11-b996-865584f597a0')
INSERT [dbo].[Vattu] ([MAVT], [TENVT], [DVT], [rowguid]) VALUES (N'M01 ', N'Máy giặt tự động cửa trước', N'Cái', N'53dd0f36-490d-eb11-b98d-54e1ad7deed1')
INSERT [dbo].[Vattu] ([MAVT], [TENVT], [DVT], [rowguid]) VALUES (N'M02 ', N'Laptop Gaming', N'Chiếc', N'9e6b1105-9e22-eb11-b995-54e1ad7deed1')
INSERT [dbo].[Vattu] ([MAVT], [TENVT], [DVT], [rowguid]) VALUES (N'MU01', N'Máy uốn tóc', N'Cái', N'56dd0f36-490d-eb11-b98d-54e1ad7deed1')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_ChiNhanh]    Script Date: 11/30/2020 8:56:17 PM ******/
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[ChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_245575913]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_245575913] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_485576768]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_485576768] ON [dbo].[CTDDH]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_597577167]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_597577167] ON [dbo].[CTPN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_565577053]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_565577053] ON [dbo].[CTPX]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_421576540]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_421576540] ON [dbo].[DatHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENKHO]    Script Date: 11/30/2020 8:56:17 PM ******/
ALTER TABLE [dbo].[Kho] ADD  CONSTRAINT [UK_TENKHO] UNIQUE NONCLUSTERED 
(
	[TENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_373576369]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_373576369] ON [dbo].[Kho]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_341576255]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_341576255] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_MaSoDDH]    Script Date: 11/30/2020 8:56:17 PM ******/
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [UK_MaSoDDH] UNIQUE NONCLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_517576882]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_517576882] ON [dbo].[PhieuNhap]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_453576654]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_453576654] ON [dbo].[PhieuXuat]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENVT]    Script Date: 11/30/2020 8:56:17 PM ******/
ALTER TABLE [dbo].[Vattu] ADD  CONSTRAINT [UK_TENVT] UNIQUE NONCLUSTERED 
(
	[TENVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_293576084]    Script Date: 11/30/2020 8:56:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_293576084] ON [dbo].[Vattu]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DatHang]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_VatTu]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PhieuNhap] ([MAPN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_VatTu]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_PX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PhieuXuat] ([MAPX])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_PX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_VatTu]
GO
ALTER TABLE [dbo].[DatHang]  WITH NOCHECK ADD  CONSTRAINT [FK_DatHang_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_Kho]
GO
ALTER TABLE [dbo].[DatHang]  WITH NOCHECK ADD  CONSTRAINT [FK_DatHang_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_NhanVien]
GO
ALTER TABLE [dbo].[Kho]  WITH NOCHECK ADD  CONSTRAINT [FK_Kho_Kho] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_Kho]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_DatHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_Kho]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuXuat_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_Kho]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH NOCHECK ADD  CONSTRAINT [FK_PX_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PX_NhanVien]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIA] CHECK NOT FOR REPLICATION (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPN] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_DONGIACTPN]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPN] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_SOLUONGCTPN]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPX] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_DONGIACTPX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPX] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_SOLUONGCTPX]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [CK_LUONG] CHECK NOT FOR REPLICATION (([LUONG]>=(4000000)))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_LUONG]
GO
/****** Object:  StoredProcedure [dbo].[sp_chuyenchinhanh]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_chuyenchinhanh] @manv int,
@mamoi int
as
begin
	declare @ttx int
	--declare @a int
	--declare @b int
	select @ttx=TrangThaiXoa from NhanVien where MANV = @manv
	if(@ttx=0)
		begin
			declare @macn nchar(10)
			select @macn = MACN from LINK1.QLVT_DATHANG.DBO.ChiNhanh
			--select @a =MAX(MANV) from NhanVien
			--select @b =MAX(MANV) from LINK1.QLVT_DATHANG.DBO.NhanVien
			--if(@a > @b)
			--	begin 
			--		set @mamoi = @a + 1
			--	end
			--else
			--	begin
			--		set @mamoi = @b + 1
			--	end
		
			insert into LINK1.QLVT_DATHANG.DBO.NhanVien (MANV, HO, TEN, DIACHI, NGAYSINH, LUONG, MACN, TrangThaiXoa)
			select MANV=@mamoi,HO,TEN,DIACHI,NGAYSINH,LUONG,MACN=@macn,TrangThaiXoa = 0
			from NhanVien
			where MANV = @manv

			update NhanVien set TrangThaiXoa = 1
			where MANV = @manv
		end
	else
	raiserror(50001, 18, 1, N'Nhân viên đã chuyển chi nhánh')
end
GO
/****** Object:  StoredProcedure [dbo].[sp_dsddhchuacophieunhap]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_dsddhchuacophieunhap]
 AS
BEGIN
  SELECT DH.MasoDDH AS 'Mã số DDH', DH.NGAY AS 'Ngày Đặt', DH.NhaCC AS 'Nhà Cung Cấp',
      NV.HO + ' ' + NV.TEN AS 'Họ và Tên', VT.TENVT AS 'Tên vật tư', CT.SOLUONG as 'Số lượng', CT.DONGIA as 'Đơn giá'
  FROM
  (
    SELECT * FROM DatHang
  ) DH
  LEFT JOIN DBO.PhieuNhap PN ON PN.MasoDDH = DH.MasoDDH
  INNER JOIN DBO.NhanVien NV ON NV.MANV = DH.MANV
  INNER JOIN DBO.CTDDH CT ON DH.MasoDDH = CT.MasoDDH
  INNER JOIN DBO.Vattu VT ON CT.MAVT = VT.MAVT
  WHERE PN.MAPN IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtratrungtenlogin]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_kiemtratrungtenlogin]
@tenlogin nvarchar(50)
as
begin
	SELECT name FROM master.sys.sql_logins where name = @tenlogin
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ktmanv]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ktmanv]
@manv INT
AS
BEGIN
	IF EXISTS (SELECT MANV FROM dbo.NhanVien WHERE MANV = @manv)
		SELECT MANV FROM dbo.NhanVien WHERE MANV = @manv
	ELSE
		IF EXISTS (SELECT MANV FROM LINK2.QLVT_DATHANG.dbo.NhanVien WHERE MANV = @manv)
			SELECT MANV FROM LINK2.QLVT_DATHANG.dbo.NhanVien WHERE MANV = @manv
		ELSE
			RAISERROR(N'Nhân viên bạn tìm không tồn tại',16,1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ktrasoluongvattu]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ktrasoluongvattu]
@maphieu nchar(8),
@mavt nchar(4),
@soluong int
as
begin
	if(@soluong <= (SELECT SOLUONG FROM CTDDH WHERE MasoDDH=@maphieu and MAVT=@mavt ))
		SELECT SOLUONG FROM CTDDH WHERE MasoDDH=@maphieu and MAVT=@mavt 
	else
		RAISERROR(N'Số lượng vật tư không hợp lệ !',16,1)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_rep_bangkectvt]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_rep_bangkectvt]
@MODE NCHAR,
@LOAI NCHAR,
@BEGIN NCHAR(10),
@END NCHAR(10)
AS
BEGIN
  IF @MODE = 'C'
    IF @LOAI = 'N'
    SELECT SUBSTRING(CONVERT(VARCHAR, PN.NGAY, 103),4,7) AS [THOIGIAN], VT.TENVT, SUM(CT.SOLUONG) AS 'SOLUONG', SUM(CT.SOLUONG * CT.DONGIA) AS 'TRIGIA'
    FROM 
    (
      SELECT MAPN, NGAY
      FROM dbo.PhieuNhap
      WHERE NGAY BETWEEN @BEGIN and  @END
    ) PN
    INNER JOIN dbo.CTPN CT ON CT.MAPN = PN.MAPN
    INNER JOIN dbo.Vattu VT ON VT.MAVT = CT.MAVT
    GROUP BY SUBSTRING(CONVERT(VARCHAR, PN.NGAY, 103),4,7), VT.TENVT
	ORDER BY SUBSTRING(CONVERT(VARCHAR, PN.NGAY, 103),4,7)
    ELSE
    IF @LOAI = 'X'
      SELECT SUBSTRING(CONVERT(VARCHAR, PX.NGAY, 103),4,7) AS [THOIGIAN], VT.TENVT, SUM(CT.SOLUONG) AS 'SOLUONG', SUM(CT.SOLUONG * CT.DONGIA) AS 'TRIGIA'
      FROM 
      (
      SELECT MAPX, NGAY
      FROM dbo.PhieuXuat
      WHERE NGAY BETWEEN @BEGIN and  @END
      ) PX
      INNER JOIN dbo.CTPX CT ON CT.MAPX = PX.MAPX
      INNER JOIN dbo.Vattu VT ON VT.MAVT = CT.MAVT
      GROUP BY SUBSTRING(CONVERT(VARCHAR, PX.NGAY, 103),4,7), VT.TENVT
	  ORDER BY SUBSTRING(CONVERT(VARCHAR, PX.NGAY, 103),4,7)
  IF @MODE = 'F'	--quyền công ty
    IF @LOAI = 'N'
    SELECT SUBSTRING(CONVERT(VARCHAR, PN.NGAY, 103),4,7) AS [THOIGIAN], VT.TENVT, SUM(CT.SOLUONG) AS 'SOLUONG', SUM(CT.SOLUONG * CT.DONGIA) AS 'TRIGIA'
    FROM 
    (
      SELECT MAPN, NGAY
      FROM LINK3.QLVT_DATHANG.dbo.PhieuNhap
      WHERE NGAY BETWEEN @BEGIN and  @END
    ) PN
    INNER JOIN LINK3.QLVT_DATHANG.dbo.CTPN CT ON CT.MAPN = PN.MAPN
    INNER JOIN dbo.Vattu VT ON VT.MAVT = CT.MAVT
    GROUP BY SUBSTRING(CONVERT(VARCHAR, PN.NGAY, 103),4,7), VT.TENVT
	ORDER BY SUBSTRING(CONVERT(VARCHAR, PN.NGAY, 103),4,7)
    ELSE
    IF @LOAI = 'X'
      SELECT SUBSTRING(CONVERT(VARCHAR, PX.NGAY, 103),4,7) AS [THOIGIAN], VT.TENVT, SUM(CT.SOLUONG) AS 'SOLUONG', SUM(CT.SOLUONG * CT.DONGIA) AS 'TRIGIA'
      FROM 
      (
      SELECT MAPX, NGAY
      FROM LINK3.QLVT_DATHANG.dbo.PhieuXuat
      WHERE NGAY BETWEEN @BEGIN and  @END
      ) PX
      INNER JOIN LINK3.QLVT_DATHANG.dbo.CTPX CT ON CT.MAPX = PX.MAPX
      INNER JOIN dbo.Vattu VT ON VT.MAVT = CT.MAVT
      GROUP BY  SUBSTRING(CONVERT(VARCHAR, PX.NGAY, 103),4,7), VT.TENVT
	  ORDER BY SUBSTRING(CONVERT(VARCHAR, PX.NGAY, 103),4,7)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_rep_dsnv]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_rep_dsnv]
AS
BEGIN
	SELECT MANV AS 'Mã NV', HO + ' ' + TEN AS 'Họ tên', DIACHI AS 'Địa chỉ', NGAYSINH AS 'Ngày sinh', LUONG AS 'Lương'
	FROM dbo.NhanVien
	ORDER BY TEN, HO
END
GO
/****** Object:  StoredProcedure [dbo].[sp_rep_dsvt]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_rep_dsvt]
AS
BEGIN
	SELECT MAVT as 'Mã vật tư', TENVT as 'Tên vật tư', DVT as 'Đơn vị tính'
	FROM Vattu
	ORDER BY TENVT ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_rep_hdnv]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_rep_hdnv]
@MANV INT,
@LOAI NCHAR,
@BEGIN NCHAR(10),
@END NCHAR(10)
AS
BEGIN
  IF @LOAI = 'N'
    SELECT  PN.NGAY AS 'Ngày',
		PN.MAPN AS 'Mã Phiếu', PN.HOTENKH AS 'Họ và Tên', VT.TENVT AS 'Tên Vật Tư', 
		KHO.TENKHO AS 'Tên Kho',CT.SOLUONG AS 'Số Lượng',
		DONGIA AS 'Đơn Giá', CT.SOLUONG * CT.DONGIA AS 'Trị Giá',
		PN.MANV as 'Mã nhân viên', HO+' '+TEN as 'Họ Tên Nhân Viên'
    FROM 
    (
		SELECT MAPN, NGAY, MAKHO, HOTENKH = '', MANV 
		FROM PhieuNhap
		WHERE MANV = @MANV AND NGAY BETWEEN @BEGIN and  @END
    ) PN
    INNER JOIN dbo.CTPN CT ON CT.MAPN = PN.MAPN
    INNER JOIN dbo.Vattu VT ON VT.MAVT = CT.MAVT
	INNER JOIN DBO.KHO KHO ON KHO.MAKHO = PN.MAKHO
	INNER JOIN DBO.NhanVien NV ON PN.MANV = NV.MANV
  ELSE
    IF @LOAI = 'X'
      SELECT PX.NGAY AS 'Ngày',
		PX.MAPX AS 'Mã Phiếu', PX.HOTENKH AS 'Họ và Tên', VT.TENVT AS 'Tên Vật Tư', 
		KHO.TENKHO AS 'Tên Kho',CT.SOLUONG AS 'Số Lượng',
		DONGIA AS 'Đơn Giá', CT.SOLUONG * CT.DONGIA AS 'Trị Giá',
		PX.MANV as 'Mã nhân viên', HO+' '+TEN as 'Họ Tên Nhân Viên'
    FROM 
    (
		SELECT MAPX, NGAY, MAKHO, HOTENKH, MANV
		FROM PhieuXuat
		WHERE MANV = @MANV AND NGAY BETWEEN @BEGIN and  @END
    ) PX
    INNER JOIN dbo.CTPX CT ON CT.MAPX = PX.MAPX
    INNER JOIN dbo.Vattu VT ON VT.MAVT = CT.MAVT
	INNER JOIN DBO.KHO KHO ON KHO.MAKHO = PX.MAKHO
	INNER JOIN DBO.NhanVien NV ON PX.MANV = NV.MANV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOTAIKHOAN]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TAOTAIKHOAN] @LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
BEGIN
	DECLARE @RET INT
		EXEC @RET = sp_addlogin @LGNAME, @PASS, 'QLVT_DATHANG'
			IF (@RET =1) --LOGINNAME BI TRUNG
				RETURN 1
		EXEC @RET = sp_grantdbaccess @LGNAME, @USERNAME
		IF(@RET =1) --USER NAME BI TRUNG
		BEGIN
			EXEC sp_droplogin @LGNAME
			RETURN 2
		END
		EXEC sp_addrolemember @ROLE, @USERNAME
		IF @ROLE='CONGTY' OR @ROLE='CHINHANH'
			EXEC sp_addsrvrolemember @LGNAME, 'securityAdmin'
			EXEC sp_addsrvrolemember @LGNAME, 'sysadmin' -- thuc hien bat ky hoat dong nao tren server
			EXEC sp_addsrvrolemember @LGNAME, 'processadmin' -- quyenthao tac tren db
			RETURN 0 -- THANH CONG

		IF @ROLE='USSER'
			EXEC sp_addsrvrolemember @LGNAME, 'processadmin' -- quyenthao tac tren db
		COMMIT
		RETURN 0 -- THANH CONG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTINDANGNHAP]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGTINDANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50), @UserId int
SELECT @UserId= UId ,@TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM dbo.NhanVien WHERE MANV = @TENUSER  and TrangThaiXoa = 0),
   NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= @UserId
               )

GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTINDANGNHAP1]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGTINDANGNHAP1]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50), @UserId int
SELECT @UserId= UId ,@TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
if exists(SELECT HO+ ' '+ TEN FROM dbo.NhanVien WHERE MANV = @TENUSER and TrangThaiXoa=0)
begin
	SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM dbo.NhanVien WHERE MANV = @TENUSER and TrangThaiXoa=0),
   NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= @UserId
               )

end
else 
select '0'

GO
/****** Object:  StoredProcedure [dbo].[sp_timctddh]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_timctddh]
@maddh NCHAR(8),
@mavt NCHAR(4)
AS
BEGIN
	IF EXISTS (SELECT * FROM dbo.CTDDH WHERE MasoDDH = @maddh and MAVT = @mavt)
		SELECT * FROM dbo.CTDDH WHERE MasoDDH = @maddh and MAVT = @mavt
	ELSE
		IF EXISTS (SELECT * FROM LINK1.QLVT_DATHANG.dbo.CTDDH WHERE MasoDDH = @maddh and MAVT = @mavt)
			SELECT * FROM LINK1.QLVT_DATHANG.dbo.CTDDH WHERE MasoDDH = @maddh and MAVT = @mavt
		ELSE
			RAISERROR(N'Chi tiết đơn đặt hàng bạn tìm không tồn tại',16,1)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_timctpn]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_timctpn]
@mapn nchar(8),
@mavt nchar(4)
as
begin
	IF EXISTS (SELECT * FROM dbo.CTPN WHERE MAPN = @mapn and MAVT = @mavt)
		SELECT * FROM dbo.CTPN WHERE MAPN = @mapn and MAVT = @mavt
	ELSE
		IF EXISTS (SELECT * FROM LINK1.QLVT_DATHANG.dbo.CTPN WHERE MAPN = @mapn and MAVT = @mavt)
			SELECT * FROM LINK1.QLVT_DATHANG.dbo.CTPN WHERE MAPN = @mapn and MAVT = @mavt
		ELSE
			RAISERROR(N'Chi tiết phiếu nhập bạn tìm không tồn tại',16,1)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_timctpx]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_timctpx]
@mapx nchar(8),
@mavt nchar(4)
as
begin
	IF EXISTS (SELECT * FROM dbo.CTPX WHERE MAPX = @mapx and MAVT = @mavt)
		SELECT * FROM dbo.CTPX WHERE MAPX = @mapx and MAVT = @mavt
	ELSE
		IF EXISTS (SELECT * FROM LINK1.QLVT_DATHANG.dbo.CTPX WHERE MAPX = @mapx and MAVT = @mavt)
			SELECT * FROM LINK1.QLVT_DATHANG.dbo.CTPX WHERE MAPX = @mapx and MAVT = @mavt
		ELSE
			RAISERROR(N'Chi tiết phiếu xuất bạn tìm không tồn tại',16,1)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_timddh]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_timddh]
@maddh NCHAR(8)
AS
BEGIN
	IF EXISTS (SELECT MasoDDH FROM dbo.DatHang WHERE MasoDDH = @maddh)
		SELECT * FROM dbo.DatHang WHERE MasoDDH = @maddh
	ELSE
		IF EXISTS (SELECT MasoDDH FROM LINK1.QLVT_DATHANG.dbo.DatHang WHERE MasoDDH = @maddh)
			SELECT * FROM LINK1.QLVT_DATHANG.dbo.DatHang WHERE MasoDDH = @maddh
		ELSE
			RAISERROR(N'Đơn đặt hàng bạn tìm không tồn tại',16,1)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_timkho]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_timkho]
@makho NCHAR(4)
AS
BEGIN
	IF EXISTS (SELECT MAKHO FROM dbo.Kho WHERE MAKHO = @makho)
		SELECT * FROM dbo.Kho WHERE MAKHO = @makho
	ELSE
		IF EXISTS (SELECT MAKHO FROM LINK1.QLVT_DATHANG.dbo.Kho WHERE MAKHO = @makho)
			SELECT * FROM LINK1.QLVT_DATHANG.dbo.Kho WHERE MAKHO = @makho
		ELSE
			RAISERROR(N'Kho bạn tìm không tồn tại',16,1)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_timnhanvien]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_timnhanvien]
@manv INT
AS
BEGIN
	IF EXISTS (SELECT MANV FROM dbo.NhanVien WHERE MANV = @manv)
		SELECT MANV, HO, TEN, DIACHI, NGAYSINH, LUONG, MACN, TrangThaiXoa FROM dbo.NhanVien WHERE MANV = @manv
	ELSE
		IF EXISTS (SELECT MANV FROM LINK1.QLVT_DATHANG.dbo.NhanVien WHERE MANV = @manv)
			SELECT MANV, HO, TEN, DIACHI, NGAYSINH, LUONG, MACN, TrangThaiXoa FROM LINK1.QLVT_DATHANG.dbo.NhanVien WHERE MANV = @manv
		ELSE
			RAISERROR(N'Nhân viên bạn tìm không tồn tại',16,1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_timphieunhap]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_timphieunhap]
@mapn nchar(8)
as
begin
	IF EXISTS (SELECT MAPN FROM dbo.PhieuNhap WHERE MAPN = @mapn)
		SELECT * FROM dbo.PhieuNhap WHERE MAPN = @mapn
	ELSE
		IF EXISTS (SELECT MAPN FROM LINK1.QLVT_DATHANG.dbo.PhieuNhap WHERE MAPN = @mapn)
			SELECT * FROM LINK1.QLVT_DATHANG.dbo.PhieuNhap WHERE MAPN = @mapn
		ELSE
			RAISERROR(N'Phiếu nhập bạn tìm không tồn tại',16,1)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_timphieuxuat]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_timphieuxuat]
@mapx nchar(8)
as
begin
	IF EXISTS (SELECT MAPX FROM dbo.PhieuXuat WHERE MAPX = @mapx)
		SELECT * FROM dbo.PhieuXuat WHERE MAPX = @mapx
	ELSE
		IF EXISTS (SELECT MAPX FROM LINK1.QLVT_DATHANG.dbo.PhieuXuat WHERE MAPX = @mapx)
			SELECT * FROM LINK1.QLVT_DATHANG.dbo.PhieuXuat WHERE MAPX = @mapx
		ELSE
			RAISERROR(N'Phiếu xuất bạn tìm không tồn tại',16,1)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_timvattu]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_timvattu]
@mavt NCHAR(4)
AS
BEGIN
	IF EXISTS (SELECT MAVT FROM dbo.Vattu WHERE MAVT = @mavt)
		SELECT MAVT, TENVT, DVT FROM dbo.Vattu WHERE MAVT = @mavt
	ELSE
		--RAISERROR(50001, 18, 1, N'Mã vật tư bạn tìm không tồn tại.')
		RAISERROR(N'Vật tư bạn tìm không tồn tại',16,1)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_tonghop]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_tonghop]
@begin nchar(10),
@end nchar(10),
@mode nchar
as
begin
	IF(@mode = 'C')	--quyền chi nhánh
	begin
		select NGAY=tohopnhap.NGAY, TONGTIENNHAP=ISNULL(tohopnhap.TONGTIEN,0),
				TONGTIENXUAT=ISNULL(tohopxuat.TONGTIEN,0), TYLENHAP=(ISNULL(tohopnhap.TONGTIEN,0)/(ISNULL(tohopnhap.TONGTIEN,0)+ISNULL(tohopxuat.TONGTIEN,0))),
				TYLEXUAT=(ISNULL(tohopxuat.TONGTIEN,0)/(ISNULL(tohopnhap.TONGTIEN,0)+ISNULL(tohopxuat.TONGTIEN,0)))
		from
		(
			(
				SELECT pxfilter.NGAY, ISNULL(SUM(ctpx.SOLUONG * ctpx.DONGIA),0) AS 'TONGTIEN'
				FROM (SELECT MAPX, NGAY FROM dbo.PhieuXuat WHERE NGAY BETWEEN @begin AND @end) pxfilter
				INNER JOIN dbo.CTPX ctpx ON ctpx.MAPX = pxfilter.MAPX
				GROUP BY pxfilter.NGAY
			) tohopxuat
			 full outer join
			(
				SELECT pnfilter.NGAY, ISNULL(SUM(ctpn.SOLUONG * ctpn.DONGIA),0) AS 'TONGTIEN'
				FROM (SELECT MAPN, NGAY FROM dbo.PhieuNhap WHERE NGAY BETWEEN @begin AND  @end) pnfilter
				INNER JOIN dbo.CTPN ctpn ON ctpn.MAPN = pnfilter.MAPN
				GROUP BY pnfilter.NGAY
			) tohopnhap
			on tohopxuat.NGAY = tohopnhap.NGAY
		)
	end
	else
	begin
		select NGAY=tohopnhap.NGAY, TONGTIENNHAP=ISNULL(tohopnhap.TONGTIEN,0),
				TONGTIENXUAT=ISNULL(tohopxuat.TONGTIEN,0), TYLENHAP=(ISNULL(tohopnhap.TONGTIEN,0)/(ISNULL(tohopnhap.TONGTIEN,0)+ISNULL(tohopxuat.TONGTIEN,0))),
				TYLEXUAT=(ISNULL(tohopxuat.TONGTIEN,0)/(ISNULL(tohopnhap.TONGTIEN,0)+ISNULL(tohopxuat.TONGTIEN,0)))
		from
		(
			(SELECT pxfilter.NGAY, ISNULL(SUM(ctpx.SOLUONG * ctpx.DONGIA),0) AS 'TONGTIEN'
			FROM (SELECT MAPX, NGAY FROM LINK3.QLVT_DATHANG.dbo.PhieuXuat WHERE NGAY BETWEEN @begin AND @end) pxfilter
			INNER JOIN LINK3.QLVT_DATHANG.dbo.CTPX ctpx ON ctpx.MAPX = pxfilter.MAPX
			GROUP BY pxfilter.NGAY) tohopxuat
			 full outer join
			(SELECT pnfilter.NGAY, ISNULL(SUM(ctpn.SOLUONG * ctpn.DONGIA),0) AS 'TONGTIEN'
			FROM (SELECT MAPN, NGAY FROM LINK3.QLVT_DATHANG.dbo.PhieuNhap WHERE NGAY BETWEEN @begin AND @end) pnfilter
			INNER JOIN LINK3.QLVT_DATHANG.dbo.CTPN ctpn ON ctpn.MAPN = pnfilter.MAPN
			GROUP BY pnfilter.NGAY) tohopnhap
			on tohopxuat.NGAY = tohopnhap.NGAY
		)
	end
end

GO
/****** Object:  StoredProcedure [dbo].[sp_undochuyencn]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_undochuyencn]
@manv int,
@mamoi int
as
begin
	update NhanVien set TrangThaiXoa = 0 where MANV = @manv
	delete LINK1.QLVT_DATHANG.DBO.NhanVien where MANV = @mamoi
end
GO
/****** Object:  StoredProcedure [dbo].[sp_xoatkdangnhap]    Script Date: 11/30/2020 8:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_xoatkdangnhap] 
@tenlogin VARCHAR(50)	--tenlogin là truyền mã nhân viên vô
AS
BEGIN
	DECLARE @SID VARBINARY(85)
	SELECT @SID = sid FROM sys.sysusers WHERE name = @tenlogin
	IF (@SID IS NULL)
		RAISERROR('Nhân viên chưa tạo tài khoản',16,1)
	ELSE
	BEGIN
		DECLARE @LGNAME VARCHAR(50)
		SELECT @LGNAME = loginname FROM sys.syslogins WHERE sid = @SID
		IF(@LGNAME IS NOT NULL)
		BEGIN
			EXEC SP_DROPUSER @tenlogin	--Xóa user trong server role
			EXEC SP_DROPLOGIN @LGNAME	--Xóa tài khoản đăng nhập của nhân viên
		END
		ELSE
			RAISERROR('Nhân viên chưa tạo tài khoản',16,1)
	END
END
GO
USE [master]
GO
