<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QLVT_DATHANG.Properties.Settings.QLVT_DATHANGConnectionString"
      connectionString="Data Source=DESKTOP-V1L6PR0;Initial Catalog=QLVT_DATHANG;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLVT_DATHANG.Properties.Settings.DS_QLVT" connectionString="Data Source=DESKTOP-V1L6PR0\SERVER1;Initial Catalog=QLVT_DATHANG;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="DESKTOP-V1L6PR0\SERVER1_QLVT_DATHANG_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 5" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 6" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 7" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 8" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 9" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 10" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 11" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 12" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 13" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 14" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 15" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 16" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 17" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 18" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
    <add name="localhost_QLVT_DATHANG_Connection 19" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-V1L6PR0\SERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>